<div class="form-group">
    <label for="product-name">Product name</label>
    <input type="text" class="form-control" id="product-name" @bind="Product.ProductName" @oninput="ClearValidation" />
</div>

<div class="form-group">
    <label for="product-display-name">Product display name</label>
    <input type="text" class="form-control" id="product-display-name" @bind="Product.ProductDisplayName" />
</div>

<div class="form-group">
    <label for="product-category">Category</label>
    <input class="form-control" type="text" id="product-category" @bind="Product.Category" />
</div>

<div class="form-group">
    <label for="product-url">URL</label>
    <div class="input-group">
        <input type="text" class="form-control" id="product-url" @bind="Product.Preferred" />
        @if (!string.IsNullOrWhiteSpace(Product.Preferred))
        {
            <div class="input-group-append">
                <a href="@Product.Preferred" target="_blank">View</a>
            </div>
        }
    </div>
</div>

<button class="btn btn-primary" @onclick="Save">Save</button>
<a style="margin-left: 10px" href="/list/@StoreName">Cancel</a>

@if (!string.IsNullOrWhiteSpace(ValidationError))
{
    <div class="alert alert-danger">@ValidationError</div>
}
