@page "/"
@using Models

<h3>Stores</h3>

<ul>
    @foreach (var store in DataService.Stores)
    {
        <li>
            <input value="@store.Name" @onchange="(e) => UpdateStore(store, (string)e.Value)" @oninput="ClearValidation" />
            <button @onclick="() => RemoveStore(store.Name)">Remove</button>
        </li>
    }
</ul>

<input placeholder="Start a list" @bind="NewStore" @oninput="ClearValidation" />
<button @onclick="CreateStore">Add store</button>

@if (!string.IsNullOrEmpty(ValidationError))
{
    <div class="alert alert-danger">
        @ValidationError
    </div>
}
