@page "/"
@using Models

<h3>Stores</h3>

<ul class="list-group">
    @foreach (var store in DataService.Stores)
    {
        <li class="list-group-item">
            <a href="/list/@store.Name">@store.Name</a>
            <button class="float-right" disabled="@store.HasProducts" @onclick="() => RemoveStore(store.Name)">Remove</button>
        </li>
    }
</ul>

<input placeholder="Start a list" @bind="NewStore" @oninput="ClearValidation" />
<button @onclick="CreateStore">Add store</button>

@if (!string.IsNullOrEmpty(ValidationError))
{
    <div class="alert alert-danger">
        @ValidationError
    </div>
}
