.card-body {
    padding: 0;
}

.card-body ul li {
    border-radius: 0 !important;
    border-left: 0;
    border-right: 0;
}

.card-body ul li:last-child {
    border-bottom: 0;
}

@media (max-width: 640.98px) {
    .accordion {
        margin-left: -24px;
        margin-right: -24px;
    }

    .card {
        border-left: 0;
        border-right: 0;
        border-radius: 0;
    }
}
