@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        <div class="top-row pl-4 navbar navbar-dark sidebar">
            <a class="navbar-brand" href="">ShoppingList</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
